BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Attach
ColumnLimit: 100
SortIncludes: true
IncludeBlocks: Regroup
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: true
SpaceAfterCStyleCast: false
PointerAlignment: Right
